<div class="page-header">
  <div class="header-card">
    <h2>Tech Blog</h2>
  </div>
</div>

<div class="login">
  <div class="login-header">
    <h2>Login</h2>
  </div>

    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="submit" type="submit">Login</button>
      </div>
    </form>
    <a href="/signup">Sign up instead</a>
  </div>
</div>

<script src="./js/login.js"></script>