<div class="page-header">
  <div class="header-card">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="new-post-form">
  <div class="new-post-header">
    <h2>Create New Post</h2>
  </div>

  <form>
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-input" id="post-title" name="project-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <textarea class="form-input" id="post-content" name="post-content"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="submit">Create</button>
    </div>
  </form>
</div>

<script src="/js/newpost.js"></script>